{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "cypress/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "jest", "cypress"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    // The following two options are not necessary since the New JSX transform of React 17 (no need to import React).
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}