/* using html or the pseudo class :root gives the same results. Html has more specificity */
/* html {
} */

body {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* https://css-tricks.com/box-sizing/ */
/* https://css-tricks.com/equal-columns-with-flexbox-its-more-complicated-than-you-might-think/ */
*, *:after, *:before {
  box-sizing: border-box;
}

/* .test > * {
  flex-basis: 100%,
} */