/* CSS Variables */
/* ================================================================================ */

/* using html or the pseudo class :root gives the same results. Html has more specificity */
html {
  --color-base: white;
  --color-text: #434449;
  --color-gray: #f1f2f7;
  --color-gray10: #f1f1f4;
  --color-gray20: #e4e5e9;
  --color-gray80: #6f7077;
  --color-indigo: #4863ff;
  --color-indigoDarken10: #c1caff;
  --color-indigoLighten80: #b7c1f8;
  --color-yellow: #ffc107;
  --color-yellowgreen: yellowgreen;
  --color-green: #4caf50;
  --color-danger: #ef5350;
  --color-danger-dark: #bb0300;
  --color-orange: orange;
  --color-gold: gold;

  /* Theming */
  --rays: #b6b6b6;
  --rays-contact: #e2e2e2;

  /* Temp background theme 2 */
  /*
    --background: #000000;
  --navbar-background: rgba(0, 0, 0, 0.1);
  --background-overlay: rgba(255, 255, 255, 0.5);
  --blob-background-1: #ffd23e;
  --blob-background-2: #ff3e98;
  --blob-big-1: #443eff;
  --blob-big-2: #3eff4e;
  --blob-center-1: #ff713e;
  --blob-center-2: #3eefff; */

  /* Temp background theme 3 */
  --overlay-blur: 3px;
  --blob-big-blur: 270px;
  --blob-center-blur: 80px;

  --blob-half-animation-opacity: 0.5;
  --blob-center-opacity: 0.8;
  --blob-big-opacity: 0.3;
  --blob-background-opacity: 1;
  --blob-bottom-right-corner-opacity: 0.6;

  --background: #06011c;
  --background-overlay: rgba(255, 255, 255, 0);
  --blob-background-1: #06011c; /* 443eff */
  --blob-background-2: #06011c;
  --navbar-link-text-color: rgb(6, 255, 223, 0.5);
  --navbar-link-text-color-hover: var(--color-text);
  --navbar-link-text-color-active: rgb(218, 255, 250);
  --navbar-background: rgba(165, 165, 165, 0.7);
  --blob-big-1: #06ffdf; /* 18b2de */
  --blob-big-2: #070418;
  --blob-bottom-right-corner: #7b80ff;
  --blob-center-1: #fb37ff; /* fb37ff */
  --blob-center-2: #06ffdf; /* 18b2de */ /* #06ffdf */

  --regular-button-background-color: rgb(195, 195, 195);
  --regular-button-background-color-hover: rgba(255, 255, 255);
  --filter-button-hover-active: var(--color-indigoLighten80);
  --button-gradient-border-color-1: var(--regular-button-background-color);
  --button-gradient-border-color-2: #fb37ff;

  --item-list-background: rgba(255, 255, 255, 0.6);
  --inner-content-background-color: ghostwhite;
  --inner-content-background-color-hover: rgba(255, 255, 255, 0.4);
  --inner-border-color: var(--color-gray80);

  /* Temp background theme fruity */
  /* --background: #000000;
  --navbar-background: rgba(0, 0, 0, 0.1);
  --background-overlay: rgba(255, 255, 255, 0.473);
  --blob-background-1: #ffd23e;
  --blob-background-2: #ff3e98;
  --blob-big-1: #443eff;
  --blob-big-2: #3eff4e;
  --blob-center-1: #3eefff;
  --blob-center-2: #b300ff; */

  /* Other */
  --font-family: ui-sans-serif, system-ui, Helvetica, Arial, sans-serif;
  --searchbar-margin-top: 10vh;
  --navbar-height: 80px;
  --border-radius: 8px;
  --searchbar-max-width: 800px;
  --min-nav-item-width: 7rem;
  --cover-width: 90px;
  --searchbar-margin-top: 10vh;
}

/* CSS Resets */
/* ================================================================================ */

/* https://css-tricks.com/box-sizing/ */
/* https://css-tricks.com/equal-columns-with-flexbox-its-more-complicated-than-you-might-think/ */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Allow percentage-based heights */
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Other global CSS */
/* ================================================================================ */

html {
  /* Prevent scrollbar from displacing elements */
  overflow-y: overlay;
}

body {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: var(--font-family);
  -webkit-text-fill-color: 'var(--color-text)';
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s; /* removes default autocomplete background color */
}
